* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Cursive', cursive;
}
body { 
    background-color: #F5F1E3;
}

p{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
.footer {
    background-color: #3B441E;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }
    .footer {
        font-size: 20px
    }
}