@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
:root {
  
  /* Colores de acento */
  --olivo:  #556b2f; /* Para la mancha de acuarela */
  --blanco: #ffff; /* Para el texto*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Estilos para la portada */
.hero {
  position: relative; /* CLAVE */
  width: 100%;
  margin: auto;
}
.img-principal {
  display: block;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
  .img-secundaria {
  position: absolute;
  bottom: 0;     /* pegado abajo */
  left: 0;
  width: 100%;   /* se adapta al tamaño */
  pointer-events: none; /* opcional */
}
.names {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  text-align: center;
  font-family: "Playwrite NO", cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
/* Seccion  */

@media screen and (max-width: 500px) {
  .names {
    font-size: 1.5rem;
  } 
}