* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Cursive', cursive;
}
body { 
    background-color: beige;
}
.navbar {
    background-color: #556B2F;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
.footer {
    background-color: #556B2F;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}