:root {
  /* Fondo principal (Papel) */
  --blanco-roto: #F5F1E3; 
  
  /* Colores de acento */
  --olivo-profundo: #3B441E; /* Para la mancha de acuarela */
  --bronce: #A67C52;         /* Para el icono del sol y detalles */
  --vino: #631616;           /* Opcional para resaltar fechas */
  
  /* Texto */
  --texto-principal: #5C4033; /*Nombres*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--blanco-roto);
}
.invitacion {
  background-color: var(--fondo-beige);
  /* Esta pequeña línea añade una textura de "grano" muy fina */
  background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
  background-blend-mode: multiply;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1{
  font-family: 'Playfair Display', serif;
  color: var(--texto-principal);
  font-size: 3.5rem;
  margin: 10px 0;
  letter-spacing: -1px;
  text-align: center;
}
h2 {
  font-family: 'Playfair Display', serif;
  color: var(--texto-principal);
  font-size: 1.5rem;
  margin: 5px 0;
  letter-spacing: -0.5px;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
img {
  width: 100%;
  height: auto;
}
.mancha-acuarela {
  background-color: var(--olivo-profundo);
  color: var(--blanco-roto);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-rsvp {
  background-color: var(--bronce);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.history {
  font-family: 'Montserrat', sans-serif;
  color: var(--texto-principal);
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 650px;
}
.photograph {
  display: flex;
  flex-wrap: wrap;
  color: var(--texto-principal);
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.event-info{
  font-family: 'Playfair Display', serif;
  color: var(--texto-principal);
  line-height: 1.6;
  text-align: center;
  padding: 20px;

}
.event-details {
  font-family: 'Montserrat', sans-serif;
  color: var(--texto-principal);
  line-height: 1.6;
  text-align: center;
  padding: 10px;
}
.event-venue {
  font-family: 'Montserrat', sans-serif;
  color: var(--texto-principal);
  line-height: 1.6;
  text-align: center;
  padding: 10px;
}
.event-venue fa-location-dot, .event-venue fa-church {
  font-size: 50px;
  margin-top: 10px;
  background-color: var(--bronce);
}
.footer {
  font-family: 'Montserrat', sans-serif;
  color: var(--texto-principal);
  text-align: center;
  padding: 20px;
}
.navbar img {
  object-fit: cover;
  width: auto;
  height: 150px;
}
@media (max-width: 600px) {
  .invitacion {
    max-width: 100%;
    padding: 10px;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2 rem;
  }
}